language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
  - pip install coveralls
script:
  - coverage run --source=pygrocy setup.py test
after_success:
  - coveralls
deploy:
  provider: pypi
  user: "SebRut"
  password:
    secure: "dgqNgmC6C+NdiKC9D8jJJY66rITE0VjbwpDcZjMWTW+roMMgwNtSMOM9zsOM+goiiOXOh15SKUW4ddJYxrPQGdxdJ8vgju1j4KX7B3LkW3YDIttjb/5h1ZovldYLUUiCu3mYJ2X8TsRblsBFB4NdHxuL11sQEI3nqiGfhnZ1UWSNR+etvBuommzc9UtGTDSQ0PATDdJt0USXQuAv1cvqr2WqdHIRNVceQN2ETMsC0yUoE6pf54wXZlyyRG7SmAnoCCAyrrEpgvPXVS/y62sFmrqFEuhrcFajc4S1zIlXRYCSjUTG3es4+AQpafzBzhBB9k/oUwG4wBStJkA+w5y46uQGiUdUPzi4lX8tL4RF4pE3WR5YnTYt/8j0RDo9gqOUA11EImZes4W7lsKJPupIWnKOGh5IHF4wJk/0EOmVcq+2aK+HG03zainn6G02FXE2yVqr727wXC4JBS+qvYV2DtB5BQRr4Z+sTTsVOk2xMFX3CTQK3N8b6bLTvFcNUzlaJxey7ioAIwEK1uBgjqY4VofPpAjcUnwMdW/liOUNfQbIgLMq1Sci1ghyzaoI3/BSlu57HC9pn8p0tSS+tHobd3fy5XcVO3GuhLyAMivyimre8/zMLlI798f5w9/MYqmKeBZfRr3b8duQbpOsrUvd9Lo+geBvPK3MHhutm/diMPE="
  on:
    tags: true
  skip_existing: true